# --- Android ---
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
.externalNativeBuild
.cxx/
# google-services.json (credenciais Firebase)
google-services.json
freeline.py
freeline/
freeline_project_description.json
fastlane/
vcs.xml
lint/
*.hprof
capacitor-cordova-android-plugins
app/src/main/assets/public
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/res/xml/config.xml

# --- Node.js / React ---
node_modules/
dist/
build/
.env
.env.local
.env.*.local
*.json
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- IDEs ---
.vscode/
.idea/
*.swp
*.swo

# --- Sistema ---
.DS_Store
Thumbs.db


# Arquivos sensíveis
.env
*.json

# Node/React
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

